* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
}
h1 {
  font-size: 2rem;
  white-space: nowrap;
  color: #ff6d1f;
  background-color: #ff6d1f67;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
