* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

main {
  width: 100%;
  background: linear-gradient(to right bottom, rgb(26, 26, 26), rgb(36, 36, 36), #000);
}
main section {
  width: 100%;
}
main section .allreels {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main section .allreels .reel {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
  background-color: #000;
}
main section .allreels .reel video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .allreels .reel .top {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
main section .allreels .reel .top h4 {
  padding: 0.6rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.1921568627);
  cursor: pointer;
}
main section .allreels .reel .top h4 i {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 200;
  pointer-events: none;
}
main section .allreels .reel .right {
  position: absolute;
  right: 0;
  bottom: 0px;
  padding: 1rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
}
main section .allreels .reel .right .like,
main section .allreels .reel .right .comment,
main section .allreels .reel .right .share,
main section .allreels .reel .right .save {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section .allreels .reel .right .like h4,
main section .allreels .reel .right .comment h4,
main section .allreels .reel .right .share h4,
main section .allreels .reel .right .save h4 {
  font-size: 2.2rem;
  font-weight: 200;
  pointer-events: none;
}
main section .allreels .reel .right .like h6,
main section .allreels .reel .right .comment h6,
main section .allreels .reel .right .share h6,
main section .allreels .reel .right .save h6 {
  font-size: 1rem;
  pointer-events: none;
}
main section .allreels .reel .right #more h4 {
  font-size: 2.2rem;
  font-weight: 200;
  pointer-events: none;
  transform: rotate(90deg);
}
main section .allreels .reel .right img {
  width: 3rem;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border: 2px solid #fff;
}
main section .allreels .reel img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
main section .allreels .reel .bottom {
  position: absolute;
  bottom: 0px;
  padding: 2rem 1.2rem;
  gap: 1.4rem;
  width: 80%;
  display: flex;
  flex-direction: column;
}
main section .allreels .reel .bottom .user-dets {
  width: 100%;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 1rem;
}
main section .allreels .reel .bottom .user-dets img {
  width: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main section .allreels .reel .bottom .user-dets h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
main section .allreels .reel .bottom button {
  padding: 0.4rem 1rem;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: 600;
}
main section .allreels .reel .bottom p {
  font-size: 1.3rem;
  font-weight: 600;
}

@media (min-width: 430px) {
  html {
    scroll-padding-top: 2rem;
  }
  main section .allreels {
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }
  main section .allreels .reel {
    width: 410px;
    height: 90vh;
  }
}
@media (min-width: 600px) {
  main section .allreels {
    align-items: center;
  }
  main section .allreels .reel {
    width: 410px;
  }
  main section .allreels .reel .right {
    transform: translateX(100%);
  }
  main section .allreels .reel .bottom {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */