* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  scroll-snap-type: y mandatory;
}
main {
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(26, 26, 26),
    rgb(36, 36, 36),
    #000
  );

  section {
    width: 100%;

    .allreels {
      width: 100%;
      display: flex;
      flex-direction: column;

      .reel {
        height: 100vh;
        width: 100%;
        scroll-snap-align: start;
        position: relative;
        background-color: #000;
        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        .top {
          position: absolute;
          top: 0;
          width: 100%;
          padding: 0.8rem;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          h4 {
            padding: 0.6rem;
            width: fit-content;
            border-radius: 50%;
            backdrop-filter: blur(16px);
            background-color: #ffffff31;
            cursor: pointer;
            i {
              font-size: 1.6rem;
              color: #fff;
              font-weight: 200;
              pointer-events: none;
            }
          }
        }

        .right {
          position: absolute;
          right: 0;
          bottom: 0px;
          padding: 1rem;
          width: 20%;
          display: flex;
          flex-direction: column;
          gap: 1.4rem;
          align-items: center;

          .like,
          .comment,
          .share,
          .save {
            display: flex;
            flex-direction: column;
            align-items: center;
            h4 {
              font-size: 2.2rem;
              font-weight: 200;
              pointer-events: none;
            }
            h6 {
              font-size: 1rem;
              pointer-events: none;
            }
          }

          #more {
            h4 {
              font-size: 2.2rem;
              font-weight: 200;
              pointer-events: none;
              transform: rotate(90deg);
            }
          }

          img {
            width: 3rem;
            border-radius: 0.5rem;
            object-fit: cover;
            object-position: top;
            border: 2px solid #fff;
          }
        }
        img {
          width: 100%;
          object-fit: contain;
          height: 100%;
        }
        .bottom {
          position: absolute;
          bottom: 0px;
          padding: 2rem 1.2rem;
          gap: 1.4rem;
          width: 80%;
          display: flex;
          flex-direction: column;
          .user-dets {
            width: 100%;
            display: flex;
            align-items: center;

            display: flex;
            align-items: center;
            gap: 1rem;
            img {
              width: 3rem;
              border-radius: 50%;
              object-fit: cover;
              object-position: top;
            }
            h2 {
              font-size: 1.5rem;
              font-weight: 600;
            }
          }
          button {
            padding: 0.4rem 1rem;
            background-color: transparent;
            border: 1px solid #fff;
            border-radius: 0.5rem;
            font-size: 1.3rem;
            text-transform: capitalize;
            font-weight: 600;
          }
          p {
            font-size: 1.3rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media (min-width: 430px) {
  html {
    scroll-padding-top: 2rem;
  }
  main {
    section {
      .allreels {
        align-items: center;
        gap: 2rem;
        padding: 1rem;
        .reel {
          width: 410px;
          height: 90vh;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  main {
    section {
      .allreels {
        align-items: center;

        .reel {
          width: 410px;
          .right {
            transform: translateX(100%);
          }
          .bottom {
            width: 100%;
          }
        }
      }
    }
  }
}
