* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  color: #fff;
}

@font-face {
  font-family: neue-machina;
  src: url(./NeueMontreal-Regular.ttf);
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: #ebe9e9;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .post {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px gray;
}
main .post .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1rem;
  border-bottom: 1px solid #d1c4b7;
}
main .post .top img {
  width: 40%;
}
main .post .top .right {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
main .post .top .right i {
  font-size: 1.8rem;
  color: #000;
}
main .post .center {
  display: flex;
  flex-direction: column;
}
main .post .center .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
main .post .center .name .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .post .center .name .left .image {
  padding: 20%;
  background-image: url(./images/post.png);
  background-size: cover;
  border-radius: 50%;
  background-position: top;
  overflow: hidden;
}
main .post .center .name .left h3 {
  font-size: 1.2rem;
  white-space: nowrap;
  color: #000;
  font-weight: 600;
  font-family: neue-machina;
}
main .post .center .name .right {
  display: flex;
  align-items: center;
}
main .post .center .name .right span {
  font-size: 1.5rem;
  color: #000;
}
main .post .center .img {
  width: 100%;
  position: relative;
  overflow: hidden;
}
main .post .center .img img {
  width: 100%;
}
main .post .center .img #heart-icon {
  font-size: 4rem;
  color: transparent;
  background: linear-gradient(135deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(-60deg);
  transition: all cubic-bezier(0.81, 0.81, 0.72, 1.26) 0.3s;
}
main .post .center .activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
main .post .center .activity .left {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
main .post .center .activity .left .ri-heart-fill {
  font-size: 1.8rem;
  color: #962fbf;
}
main .post .center .activity .left i {
  font-size: 1.8rem;
  color: #000;
  cursor: pointer;
}
main .post .center .activity .rigth i {
  font-size: 1.8rem;
  color: #000;
}
main .post .center .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  padding-top: 0rem;
}
main .post .center .info h3 {
  font-size: 1.2rem;
  white-space: nowrap;
  color: #000;
  font-weight: 600;
  font-family: neue-machina;
}
main .post .center .info h3 span {
  font-weight: 200;
  color: #161616;
}
main .post .center .info h4 {
  font-size: 1rem;
  white-space: nowrap;
  color: gray;
  font-weight: 600;
  font-family: arial;
}
main .post .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.2rem;
}
main .post .bottom i {
  font-size: 1.8rem;
  color: #000;
}
main .post .bottom .image {
  padding: 5%;
  background-image: url(./images/post.png);
  background-size: cover;
  border-radius: 50%;
  background-position: top;
}

@media (min-width: 513px) {
  main {
    padding: 0px;
  }
  main .post {
    width: 412px;
  }
}/*# sourceMappingURL=style.css.map */