* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  color: #fff;
}
@font-face {
  font-family: neue-machina;
  src: url(./NeueMontreal-Regular.ttf);
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  width: 100%;
  height: 100%;
  background-color: #ebe9e9;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .post {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px gray;

    .top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.2rem 1rem;
      border-bottom: 1px solid #d1c4b7;
      img {
        width: 40%;
      }
      .right {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        i {
          font-size: 1.8rem;
          color: #000;
        }
      }
    }

    .center {
      display: flex;
      flex-direction: column;

      .name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        .left {
          display: flex;
          align-items: center;
          gap: 1rem;
          .image {
            padding: 20%;
            background-image: url(./images/post.png);
            background-size: cover;
            border-radius: 50%;
            background-position: top;
          }

          h3 {
            font-size: 1.2rem;
            white-space: nowrap;
            color: #000;
            font-weight: 600;
            font-family: neue-machina;
          }
        }
        .right {
          display: flex;
          align-items: center;

          span {
            font-size: 1.5rem;
            color: #000;
          }
        }
      }

      .activity {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        .left {
          display: flex;
          align-items: center;
          gap: 0.7rem;
          i {
            font-size: 1.8rem;
            color: #000;
          }
        }
        .rigth {
          i {
            font-size: 1.8rem;
            color: #000;
          }
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        padding-top: 0rem;
        h3 {
          font-size: 1.2rem;
          white-space: nowrap;
          color: #000;
          font-weight: 600;
          font-family: neue-machina;
          span {
            font-weight: 200;
            color: #161616;
          }
        }
        h4 {
          font-size: 1rem;
          white-space: nowrap;
          color: gray;
          font-weight: 600;
          font-family: arial;
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 1.2rem;
      i {
        font-size: 1.8rem;
        color: #000;
      }
      .image {
        padding: 5%;
        background-image: url(./images/post.png);
        background-size: cover;
        border-radius: 50%;
        background-position: top;
      }
    }
  }
}

@media (min-width: 513px) {
  main {
    padding: 0px;
    .post {
      width: 412px;
    }
  }
}
