* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: #850e35;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  section {
   display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    background-color: #ee6983;
    padding: 2rem;
    border-radius: 1rem;
    .card {
 display: flex;
    flex-direction: column;
    gap: 1rem;
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1.3rem;
      }
    }
  }

  button {
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 2px solid #850e35;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
  }

  button:active{
    scale: 0.95;
  }
}
