* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-color: #d7c097;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
}

#card {
  padding: 2rem;
  background-color: #452829;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
}

p {
  font-size: 1.3rem;
  font-weight: 500;
  color: #e7deaf;
}
span {
  font-weight: 100;
  color: #b6b6b6;
}
#bar {
  width: 100%;
  background-color: rgb(182, 181, 181);
  border-radius: 50px;
}

#inner {
  width: 0%;
  background-color: #007e6e;
  padding: 0.4rem 0rem;
  border-radius: 50px;
}
#details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: 3rem;
  font-weight: 200;
  color: #e7deaf;
}
button {
  padding: 0.5rem 0.7rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 2px solid #d7c097;
  color: #e7deaf;
  background-color: #007e6e;
}
